<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="8d520ca5-e265-442b-8915-6ec0e661cd21" Publisher="CN=mostafasany" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="8d520ca5-e265-442b-8915-6ec0e661cd21" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ZalandoShop</DisplayName>
    <PublisherDisplayName>mostafasany</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ZalandoShop.App">
      <uap:VisualElements DisplayName="Zalando Shop" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Zalando SE is a European electronic commerce company seated in Berlin. The company maintains a cross-platform online store that sells shoes, clothing and other fashion items. The company was founded in Germany in 2008, and since has begun operating in fourteen European countries and worldwide with spin-offs and subsidiary companies." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Zalando Shop">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ff6f0e" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>